{% extends 'core/base.html' %} {% load static %} {% block page_name %} {{product.name}} {% endblock page_name %} {% block content %}


<section class="page-nav">
    <div class="container">
        <div class="row">
            <ul>
                <li>Home</li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="{% url 'products' %}"><span style="font-size: medium;">Our Products</span></a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><span>{{product.name}}</span></li>
            </ul>
        </div>
    </div>
</section>


<section class="single-project">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-wraper">
                    <div class="first-block">
                        <h2>Feature </h2>
                        <br>
                        <p>
                            {{product.description|safe}}
                        </p>

                    </div>
                    {% for ps,ps_val in product_spec_title.items %}
                    <div class="client-info">
                        <h3>{{ps}}</h3>
                        <table>
                            <tbody>
                                {% for i,j in ps_val.items %}
                                <tr>
                                    <td>{{i}}</td>
                                    {% if j %}
                                    <td>:</td>
                                    <td>{{j}}</td>
                                    {% else %}
                                    <td></td>
                                    <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br> {% endfor %}
                    <!-- <div class="first-block">
                        <h2>Specification</h2>
                        <p>Fusce non faucibus lorem. Cras eu velit id diam cursus tincidunt in ut dui. Quisque quis augue placerat, pulvinar dui aliquam, convallis sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                            mus. Nulla feugiat cursus egestas. </p>
                        <ul>
                            <li><i class="fa fa-caret-right" aria-hidden="true"></i>Cras eu velit id diam cursus tincidunt in ut dui. </li>
                            <li><i class="fa fa-caret-right" aria-hidden="true"></i>Quisque quis augue placerat, pulvinar dui aliquam, convallis sapien. </li>
                            <li><i class="fa fa-caret-right" aria-hidden="true"></i>Orci varius natoque penatibus et magnis dis </li>
                            <li><i class="fa fa-caret-right" aria-hidden="true"></i>Parturient montes, nascetur ridiculus mus. Nulla feugiat cursus egestas.</li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div id="services-slide" class="owl-carousel">
                        {% if product.image1 %}
                        <div class="img-box">
                            <a target="_blank" href="{{product.image1.url}}"><img src="{{product.image1.url}}" width="100%" /></a>
                        </div>
                        {% endif %}{% if product.image2 %}
                        <div class="img-box">
                            <a target="_blank" href="{{product.image2.url}}"><img src="{{product.image2.url}}" width="100%" /></a>
                        </div>
                        {% endif %}{% if product.image3 %}
                        <div class="img-box">
                            <a target="_blank" href="{{product.image3.url}}"><img src="{{product.image3.url}}" width="100%" /></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if product.youtube_video_id %}
                <div class="row">
                    <iframe width="100%" height="360vh" src="https://www.youtube.com/embed/{{product.youtube_video_id}}">
                    </iframe>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>




{% endblock content%}